VITE_SUPABASE_URL=https://gmsdwhdiqkyolptffizt.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imdtc2R3aGRpcWt5b2xwdGZmaXp0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc5NzAzODMsImV4cCI6MjA5MzU0NjM4M30.OCJPpZkSjOUTq8Iza15d9hNlqa5GDHFqHN2qZzMzBks

# Discord OAuth
VITE_DISCORD_CLIENT_ID=1500262153054322910
DISCORD_CLIENT_SECRET=nexnbTRFEhiO2u3m-uiFpOHPlnqxKpmq
DISCORD_REDIRECT_URI=http://localhost:5174/api/auth/discord/callback
